<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save</title>
    <link rel="stylesheet" href="/css/save.css">
</head>

<body>
    <div class="container">
        <h1>Write a Post</h1>
        <form name="saveForm" action="/bbs/save" method="post">
            <div class="form-group">
                <label for="bbsWriter">작성자:</label>
                <input type="text" id="bbsWriter" name="bbsWriter" required>
            </div>
            <div class="form-group">
                <label for="bbsPass">비밀번호:</label>
                <input type="password" id="bbsPass" name="bbsPass" required>
            </div>
            <div class="form-group">
                <label for="bbsTitle">제목:</label>
                <input type="text" id="bbsTitle" name="bbsTitle" required>
            </div>
            <div class="form-group">
                <label for="bbsContents">내용:</label>
                <textarea name="bbsContents" id="bbsContents" cols="30" rows="10" required></textarea>
            </div>
            <button type="submit">작성</button>
        </form>
        <a href="/bbs/" style="text-align: center; display: block;">게시판으로 가기</a>
    </div>
</body>

</html>